*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER SECTION*/

#header{
    height: 70px;
    max-width: 100%;
    background-color: rgba(109, 146, 113, 0.418);
    color: #fff;
    margin: 0 auto;
    padding-right: 20px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#logo{
    width: 20%;
}
#navigation{
    display: flex;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.nav{  
    display: flex; 
    margin-right: 20px;
    color: #fff;
    justify-content: center;
    border:  0px 2px transparent solid;
    padding: 10px;
    transition: ease-in 0.5s transform;
}
.nav:hover{
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  cursor: pointer;  
  transform: translateY(4px);
}

/* BANNER SECTION */

#banner{
    background-image: url("src/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    color: #fff;
    display: flex;
}
.banner_title{
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    text-align: center;
    width: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

/* MEET THE TEAM SECTION */

#about{
    background-color: #fff;
    align-items: center; 
}
.title{
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 50px 0px;  
}
#team{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#designer{
    display: flex;
    align-self: center;
    background-color: #D0D0C6;
    width: 85%;
    margin: 10px;
    color: #FFF;
}
.designer_photo{
    width: 261px;
    height: 392px;
    float: left;
    padding-right: 10px;
}
#designer h1{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}
.designer_info{
    text-align: justify;
    padding: 45px 10px;
    line-height: 150%;
}

/* LOVELY WORK SECTION */

#project{
    background-color: #FFF;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
.item-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
}
.home_img{
    outline: 8px rgba(255, 255, 255, 0.808) solid;
    outline-offset: -8px;
    width: 470px;
    height: 352px;
}

/* WHAT WE DO SECTION */
#task_container{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.task_title{
    margin-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}
#task_container svg:hover, #task_container svg:active{
    fill: currentColor;
    color: #CD0000;
    cursor: pointer;
}

/* STAY IN TOUCH*/

#contact{
    text-align: center;
    margin-top: 150px;
}
/* FOOTER */

#footer{
    width: 100%;
    height: 100px;
    background-color: rgba(109, 146, 113, 0.418);
    margin-top: 150px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    }
#footer a{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

#info_holder{
    margin: 100px;
    text-align: center;

}

/*MOBILE VIEW */

@media only screen and (max-width: 1080px) {
   .nav, .nav:hover, nav:active{
       border: none;
    }

    #team{
        display: grid;
        grid-template-columns: auto auto;
        padding-top: 10px;
        }

    .item-container{
        grid-template-columns: auto;
    }
    #team{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #designer{
       height: 100%;
      }
    
    
}

@media only screen and (max-width: 700px) {
    
    #task-container{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    #team{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    #designer{
        display: table;
        width: 100%;
        height: 100%;
        margin: 10px;
    }
    .designer_photo{
        width: 261px;
        height: 392px;    
    }
    .designer_info{
        text-align: justify;
        padding: 10px;
        line-height:150%;
    }
}

@media only screen and (max-width: 500px){
    #header{
        max-width: 500px;
        height: 100%;
        flex-direction: column;
    }
    .nav{
        margin-top: 10px;
        margin-right: 5px;
    }
    #logo{
        width:100%;
        font-size: 1.2rem;
    }
    .nav{
        flex-direction: column;
        text-align: center;
    }
    #task_container{
        flex-direction: column;
    }
    #task-container{
    display: grid;
    grid-template-columns: auto auto;    
    }
    #team{
        margin-top: 300px;
    
    }
    .home_img{
        width: 350px;
        height: 264px;
    }

}